<!DOCTYPE html>
<html>

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  <div class="main-container">
    <h2>{{developer}}</h2>
    <h3>{{jobTitle}}</h3>
    <p>{{summary}}</p>
    <img src="./img/robot.png">
  </div>
  {{>footer}}
</body>

</html>