<!DOCTYPE html>
<html>

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  <div class="main-container">
    <p>Get instant weather information from here!</p>
    <form>
      <input id="searchInput" placeholder="Enter your address">
      <button id="searchButton">Search</button>
    </form>

    <p id="searchSuccess"></p>
    <p id="searchError"></p>
  </div>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>